@media screen and (max-width: 820px) {
  .navbar {
    padding-bottom: 24px;
  }

  .navbar__container {
    flex-direction: column;
  }

  .navbar__menu {
    margin-left: 0;
    padding: 0 48px;
  }

  .nav {
    flex-wrap: wrap;
    row-gap: 12px;
  }

  .footer__container {
    flex-direction: column;
    justify-content: center;
  }

  .footer__links {
    column-gap: 24px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: 100%;
  }

  .navbar__container {
    padding: 0 48px;
  }

  .header__container {
    flex: 0 0 auto;
    width: 100%;
    flex-direction: column;
    row-gap: 40px;
  }

  .header__photo {
    flex: 0 0 auto;
    height: auto;
    margin: 0;
  }

  .header__details {
    flex: 0 0 auto;
    width: 100%;
  }

  .header__contacts {
    grid-template-columns: repeat(auto-fill, 100%);
  }

  .body__container {
    flex: 0 0 auto;
    flex-direction: column;
  }

  .body__aside {
    padding: 0;
    flex: 0 0 auto;
  }

  .body__aside-wrap {
    width: 100%;
    margin: 0;
  }

  .body__content {
    padding: 40px;
  }

  .footer__container {
    padding: 0 48px;
  }
}
